body {
    font-family: Arial, Helvetica, sans-serif;
}

.main_title {
    background-color: black;
    color: white;
    text-align: center;

}

#food_page_image {
    width: 1000px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}